---
version: 3
---

@import "variables";

.footer {
  position: relative;
  padding-top: 50px;
  padding-bottom: 80px;
  margin-top: 45px;
  background: $color-primary-alt;
  color: $color-white;
  z-index: 9;

  @media (max-width: 989px) {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  a {
    color: inherit;

    &:hover {
      color: $color-secondary-alt;
      text-decoration: none;
    }
  }

  a::after {
    content: none;
  }

  ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
}

.footer-logo {
  position: absolute;
  top: -36px;
  left: 50%;
  margin-left: -32.5px;
}

.footer-social {
  padding-bottom: 40px;

  li {
    display: inline-block;
    width: 45px;
    font-size: 26px;
  }
}

.footer-link-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 600;
  border-bottom: 0;
}

.footer-links {
  font-size: 16px;

  li:not(:last-child) {
    padding-bottom: 2px;
  }
}

@media (max-width: 989px) {
  .footer-link-holder {
    margin-bottom: 15px;
  }
}

.text-center {
  text-align: center;
}

.animated, .animated a {
  transition: all .2s linear;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.source-link {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  font-size: 15px;
  background-color: $color-subfooter-bg;
  z-index: 9;

  a {
    color: $color-secondary-alt;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
